
#place{
  background-color:rgba(255, 255, 255, 0.575);
  font-family: 'Libre Franklin', sans-serif;
  font-size:15px;
  padding:10px;
  width:35%;
  margin-left: 63%;
  margin-top:-600px;
  border:2px solid rgba(255, 255, 255, 0.699);
  
}
#map {
  height: 90%;
  width: 60%;
 
}
 body {
  height: 700px;
  margin: 50;
  background:linear-gradient(#3498db,#8e44ad) ;
  background-repeat: no-repeat;
  padding: 25;
  font-family: 'Libre Franklin', sans-serif;
}
#sub{
  background-color:rgba(229, 234, 243, 0.664);
  color:black;
  font-family: 'Libre Franklin', sans-serif;
  font-size:16px;
  font-weight:bold;
  font-stretch: expanded;
  height:65px;
  width:200px;
  cursor:pointer;
  border-radius:10px;
  position:fixed;
  bottom:0;
  padding:10px;
  right:0;
  
}
#sub:hover{
  background-color: rgba(12, 255, 4, 0.507) ;
  color:white;
}

#description {
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
      }

      #infowindow-content .title {
        font-weight: bold;
      }

      #infowindow-content {
        display: none;
      }

      #map #infowindow-content {
        display: inline;
      }

      .pac-card {
        margin: 10px 10px 0 0;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        background-color: #fff;
        font-family: Roboto;
      }

      #pac-container {
        padding-bottom: 12px;
        margin-right: 12px;
      }

      .pac-controls {
        display: inline-block;
        padding: 5px 11px;
      }

      .pac-controls label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }

      #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 400px;
      }

      #pac-input:focus {
        border-color: #4d90fe;
      }

      #title {
        color: #fff;
        background-color: #4d90fe;
        font-size: 25px;
        font-weight: 500;
        padding: 6px 12px;
      }
      #target {
        width: 345px;
      }
